.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 55px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.ConverterBox {
  margin-top: 20px
}

.ConverterBox div {
  margin: 20px
}

.ConverterBox p {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}

.ConverterBox input {
  font-size: 15px;
  padding: 10px;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
  border: 1px;
}

.ConverterBox input:focus {
  outline: 0;
}

.SelectBox {
  margin: 20px;
}